body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lavender;

}
 
     
.teksti p{
    padding: 5px;
    border: 1px solid black;    
    background-color: rgb(161, 206, 224); 

  
    border-radius: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

